<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="master_layout_head (pageTitle)">
    <div th:replace="fragment/header :: head" />
    <title th:text="${pageTitle}">Example</title>
    <meta charset=" UTF-8" />
    <th:block>
        <link rel="stylesheet" href="">
    </th:block>
</th:block>

<body>
    <div th:replace="fragment/header :: header" />
    <div class="mcw">
        <!--navigation here-->
        <!--main content view-->
        <div th:fragment="content"></div>
        <!-- Footer -->
        <!-- <footer class="footer">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">&copy; 2022 Business Name. All rights reserved.</p>
                </div>
            </div>
        </footer> -->
    </div>
    <th:block layout:fragment="script">
        <div th:replace="fragment/header :: script"></div>
    </th:block>

</body>

</html>